#board {
  width: 630px;
  height: 630px;
  background-color: rgb(2, 132, 2);
}

.square {
  height: 70px;
  width: 70px;
}

.color1 {
  background-color: blanchedalmond;
}

.color2 {
  background-color: rgb(137, 82, 10);
}
